<md-bottom-sheet class="md-list " style="height: auto; padding-left: 0px " ng-controller="initialController">
  <div class="row zero-padding">
    <div class="col align-left zero-padding">
      <div class="cart-item item-text-wrap">
        <div class="row zero-padding">
          <div class="col col-25 zero-padding" style="max-width: 75px;">
            <div>
              <img ng-src="img/food_items/2.jpg" style="height:38px; width:38px;">
            </div>
          </div>
          <div class="col zero-padding">
            <div class="row zero-padding">
              <div class="col zero-padding">
                <h3 style="font-size: 12px; text-align: left;">Chicken Burger</h3>
              </div>
              <div class="col.col-30 zero-padding">
                <span style="font-size: 12px;">Rs 100.00</span>
              </div>
            </div>
            <div class="row zero-padding">
              <span style="font-size: 12px;"> Rs 100 x 1</span>
            </div>
          </div>
        </div>
      </div>
      <!--<hr style="margin-left: 10px; margin-right: 10px;">-->
      <div class="cart-item item-text-wrap">
        <div class="row zero-padding">
          <div class="col col-25 zero-padding" style="max-width: 75px;">
            <div>
              <img ng-src="img/food_items/2.jpg" style="height:38px; width:38px;">
            </div>
          </div>
          <div class="col zero-padding">
            <div class="row zero-padding">
              <div class="col zero-padding">
                <h3 style="font-size: 12px; text-align: left;">Chicken Burger</h3>
              </div>
              <div class="col.col-30 zero-padding">
                <span style="font-size: 12px;">Rs 100.00</span>
              </div>
            </div>
            <div class="row zero-padding">
              <span style="font-size: 12px;"> Rs 100 x 1</span>
            </div>
          </div>
        </div>
      </div>
      <hr style="margin-left: 12px; margin-right: 12px;">
      <div class=" item-text-wrap">
        <div class="row zero-padding">
          <div class="col align-right">
            <h5 style="margin: 0px 10px 0px 0px; font-size: 12px;">Total Amount: </h5>
          </div>
          <div class="col col-25 total-col" >
            <span style="font-size: 12px;"> Rs. 200.00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-20 align-right zero-padding" style="min-width: 100px;">
      <a style="position: absolute; right: 15px;" ng-click="closeCart()"><i class="ion-android-close"> </i></a>
      <br>
      <div style="position: absolute; bottom:85px;">
        <button class="button icon custom-height-button clear-cart-button" ng-click="checkout()">
          clear cart <i class="ion-trash-b"></i>
        </button>
        <button class="button icon custom-height-button checkout-button" ng-click="checkout()">
          checkout <i class="ion-log-in"></i>
        </button>
      </div>
    </div>
  </div>
  <!--<md-subheader ng-cloak>Filter</md-subheader>-->
  <!--<md-list ng-cloak style="overflow-y: scroll">-->
    <!---->
      <!---->
    <!--</md-list-item>-->
  <!--</md-list>-->
</md-bottom-sheet>
