<ion-view>
  <!--<ion-header-bar class="bar-stable">-->
    <!--<div style="position: absolute; left: 5px;">-->
      <!--<a class="button button-icon row"  ng-click="myGoBack()">-->
        <!--<i class="ion-android-arrow-back" style="font-size: 30px;"></i>-->
      <!--</a>-->
    <!--</div>-->
    <!--<h3 class="side-margin-auto">Touch2Buy</h3>-->
    <!--<div style="position: absolute; right: 5px;">-->
      <!--<a class="button button-icon row"  ng-click="myGoBack()">-->
        <!--<i class="ion-ios-search-strong" style="font-size: 30px;"></i>-->
      <!--</a>-->
    <!--</div>-->
  <!--</ion-header-bar>-->
  <ion-content style="margin-top: 20px">
    <div class="row bs-wizard" style="border-bottom:0;">
      <div class="col bs-wizard-step disabled">
        <div class="align-center bs-wizard-stepnum success-step">Checkout</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot-complete"></a>
        <div class="bs-wizard-info align-center">
        </div>
      </div>
      <div class="col bs-wizard-step disabled"><!-- complete -->
        <div class="align-center bs-wizard-stepnum pending-step">Delivery</div>
        <div class="progress" style="left:50%; width:100%; "><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot bs-wizard-dot-disable"></a>
        <div class="bs-wizard-info align-center">
        </div>
      </div>
      <div class="col bs-wizard-step disabled"><!-- active -->
        <div class="align-center bs-wizard-stepnum pending-step">Confirm</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info align-center">
        </div>
      </div>
    </div>
    <div>
      <div class="row zero-padding">
        <a style="margin-right: auto; margin-left:10px" ng-click=""><i class="ion-android-arrow-back orange"> Continue Shopping</i></a>
      </div>
      <md-whiteframe ng-repeat="orgObject in cart" class="md-whiteframe-2dp small-margin" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout layout-align="center center" style="    display: list-item;">
        <div ng-repeat="item in orgObject.items" class="cart-item item-text-wrap">
            <div class="row zero-padding">
              <div class="col col-25 zero-padding" style="max-width: 65px;">
                <div>
                  <img ng-src="{{item.imageUrl}}" style="height:65px; width:55px;">
                </div>
              </div>
              <div class="col zero-padding">
                <div class="row zero-padding">
                  <div class="col zero-padding">
                    <h3 style="font-size: 14px; text-align: left;">{{item.selectedSize.name}} <span style="font-size: 10px;" ng-show="!item.editEnabled">({{item.selectedSize.sizeName}})</span> <span style="font-size: 10px;" ng-show="item.editEnabled"> Rs {{item.selectedSize.finalPrice}} x {{item.selectedSize.qty}}</span></h3>
                  </div>
                  <div class="col.col-30 zero-padding">
                    <!--Rs {{item.itemTotal}}.00-->
                    Rs {{item.selectedSize.finalPrice*item.selectedSize.qty}}.00
                  </div>
                </div>
                <div class="row zero-padding">
                  <div style="display: inherit" ng-show="item.editEnabled">
                    <div class="col zero-padding" style="max-width: 65px;">
                      <md-input-container style="margin: 10px 0px 0px 0px; font-size: smaller ">
                        <label>size</label>
                        <md-select ng-model="item.selectedSize">
                          <md-option ng-repeat="size in item.products" ng-value="size">
                            {{size.sizeName}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div class="col">
                      <div class="flex_row_checkout">
                        <a class="button button-clear icon ion-minus-circled grey-content" ng-click="sub(item)"></a>
                        <!--<a class="button button-clear add-remove-buttons icon black-content" ng-click="sub(item)">-->
                          <!--<i class="smaller-letters ion-minus-round"></i>-->
                        <!--</a>-->
                        <span style="line-height: 46px;">{{item.selectedSize.qty}}</span>
                        <a class="button button-clear icon ion-plus-circled grey-content" ng-click="add(item)"></a>
                        <!--<a class="button button-clear add-remove-buttons icon black-content" ng-click="add(item)">-->
                          <!--<i class="smaller-letters ion-plus-round"></i>-->
                        <!--</a>-->
                      </div>
                    </div>
                  </div>
                  <div style="display: inherit" ng-show="!item.editEnabled">
                    <span style="font-size: 13px; padding-top: 16px;"> Rs {{item.selectedSize.finalPrice}} x {{item.selectedSize.qty}} (qty)</span>
                  </div>
                  <div class="col align-right"  ng-hide="item.editEnabled">
                    <a class="edit-button"><i class="ion-edit" ng-click="toggleEdit(item)" style="font-size: 13px;"> edit</i></a>
                  </div>
                  <div class="col align-right" style="max-width: 65px;">
                    <a class="remove-button"><i class="ion-ios-close-empty" style="font-size: 13px;"> remove</i></a>
                  </div>
                </div>
              </div>
            </div>
          <hr style="margin-left: 10px; margin-right: 10px;">
          </div>
          <!--<hr style="margin-left: 10px; margin-right: 10px;">-->
          <div class=" item-text-wrap">
            <div class="row zero-padding">
              <h5 style="margin: 15px 12px 15px auto;">Total Amount: Rs. {{orgObject.totalAmount}}</h5>
            </div>
          </div>
      </md-whiteframe>

      <ion-list class="align-center">
        <ion-item class="item-accordion" ng-show="isMemberLogin" style="padding: 10px;">
          <!--<ion-item>-->
          <div class="row zero-padding">
             <div class="col zero-padding">
               <div class="form-group" style="margin-bottom: 3px">
                 <label class="item item-input three-quarter-width" style="height:35px; border-radius: 8px; " required>
                   <div class="input-icon">
                     <i class="ion-person"></i>
                     <input type="number" placeholder="username" ng-model="userLoginDetails.merchantCode" name="merchant_code" required>
                   </div>
                 </label>
               </div>
               <div class="form-group">
                 <label class="item item-input three-quarter-width"  style="height:35px; border-radius: 8px;" required>
                   <div class="input-icon">
                     <i class="ion-android-lock"></i>
                     <input type="password" placeholder="password" ng-model="userLoginDetails.password" name="password" required>
                   </div>
                 </label>
               </div>
             </div>
             <!--<div class="col.col-5" style="padding: 15px 5px 15px 5px;">-->
               <!--<button class="button button-balanced">-->
                 <!--<i class="ion-play "></i>-->
               <!--</button>-->
             <!--</div>-->
          </div>
          <!--</ion-item>-->
        </ion-item>
        <a class="button  button-positive custom-height-button side-margin-auto item-stable"
                ng-click="isMemberLogin ? logIn() : toggleMemberLoginForm()"
                ng-class="{active: isMemberLogin}">
          {{isMemberLogin ? 'Login' : 'Member Login'}}
        </a>
        <a class="button  button-assertive custom-height-button side-margin-auto" ng-click="memberDelivery()">
          Checkout as Guest
        </a>
      </ion-list>
    </div>
  </ion-content>

</ion-view>
