<ion-view>
  <ion-header-bar class="bar-stable">
    <div style="position: absolute; left: 5px;">
      <a class="button button-icon row"  ng-click="myGoBack()">
        <i class="ion-android-arrow-back" style="font-size: 30px;"></i>
      </a>
    </div>
    <h3 class="side-margin-auto">Touch2Buy</h3>
    <div style="position: absolute; right: 5px;">
      <a class="button button-icon row"  ng-click="myGoBack()">
        <i class="ion-ios-search-strong" style="font-size: 30px;"></i>
      </a>
    </div>
  </ion-header-bar>
  <ion-content style="margin-top: 60px">

  </ion-content>
</ion-view>
